In [4]:
import pandas as pd 
import numpy as np

In [5]:
indi_data=pd.read_csv('yelp_Fall2023/indi_beer_data.csv')
philly_data=pd.read_csv('yelp_Fall2023/philly_beer_data.csv')

In [6]:
indi_data.columns

Index(['Unnamed: 0', 'business_id', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'avg_star', 'review_count',
       'is_open', 'categories', 'hours', 'review_count_standard', 'review_id',
       'user_id', 'review_star', 'useful', 'funny', 'cool', 'text', 'date',
       'num_words_review', 'OutdoorSeating', 'RestaurantsPriceRange2',
       'BusinessAcceptsCreditCards', 'DogsAllowed', 'Ambience', 'HappyHour',
       'GoodForMeal', 'RestaurantsDelivery', 'HasTV', 'BusinessParking',
       'RestaurantsTakeOut', 'GoodForKids', 'BikeParking', 'ByAppointmentOnly',
       'RestaurantsReservations', 'Alcohol', 'WiFi', 'GoodForDancing',
       'CoatCheck', 'NoiseLevel', 'BestNights', 'Caters',
       'RestaurantsGoodForGroups', 'RestaurantsAttire', 'Music', 'BYOB',
       'Smoking', 'WheelchairAccessible', 'RestaurantsTableService',
       'BusinessAcceptsBitcoin', 'Corkage', 'BYOBCorkage', 'DriveThru'],
      dtype='object')

In [7]:
# Convert the "date" column to a datetime object
indi_data['date'] = pd.to_datetime(indi_data['date'])
philly_data['date'] = pd.to_datetime(philly_data['date'])

In [8]:
def map_month_to_quarter(month):
    if 1 <= month <= 3:
        return 'Q1'
    elif 4 <= month <= 6:
        return 'Q2'
    elif 7 <= month <= 9:
        return 'Q3'
    elif 10 <= month <= 12:
        return 'Q4'

In [9]:
indi_data['month'] = indi_data['date'].dt.month

In [10]:
philly_data['month'] = philly_data['date'].dt.month

In [11]:
indi_data['quarter'] = indi_data['month'].apply(map_month_to_quarter)
philly_data['quarter'] = philly_data['month'].apply(map_month_to_quarter)

In [12]:
indi_data = pd.get_dummies(indi_data, columns=['quarter'], prefix='quarter', prefix_sep='')

In [13]:
philly_data = pd.get_dummies(philly_data, columns=['quarter'], prefix='quarter', prefix_sep='')

In [16]:
philly_data.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,avg_star,...,RestaurantsTableService,BusinessAcceptsBitcoin,Corkage,BYOBCorkage,DriveThru,month,quarterQ1,quarterQ2,quarterQ3,quarterQ4
0,0,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,...,NaN,NaN,NaN,NaN,NaN,7,0,0,1,0
1,1,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,...,NaN,NaN,NaN,NaN,NaN,6,0,1,0,0
2,2,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,...,NaN,NaN,NaN,NaN,NaN,3,1,0,0,0
3,3,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,...,NaN,NaN,NaN,NaN,NaN,4,0,1,0,0
4,4,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,901 N Delaware Ave,Philadelphia,PA,19123,39.962582,-75.135657,3.5,...,NaN,NaN,NaN,NaN,NaN,5,0,1,0,0

In [15]:
listOfCols = ['business_id', 'quarterQ1', 'quarterQ2', 'quarterQ3', 'quarterQ4']
noOfReviewsIndi = indi_data[listOfCols].groupby('business_id').sum()
noOfReviewsPhilly = philly_data[listOfCols].groupby('business_id').sum()

ValueError: No axis named name for object type DataFrame

In [ ]:
noOfReviewsIndi.head()

In [ ]:
noOfReviewsPhilly.head()

scaling numbers for Indianapolis: Q1:-422.410233 Q2:1768.124296 Q3:514.412408 Q4:-1860.126471

scaling numbers for Philadelphia: Q1:-221.008855 Q2:736.391438 Q3:734.773570 Q4:-1250.156153